<h2><%= @track.name %></h2>

Band: <%= link_to @track.band.name, band_url(@track.band) %>
<br>
Album: <%= link_to @track.album.name, album_url(@track.album) %>
<br>
Lyrics:
<br>
<%= @track.lyrics%>
<br>
<%= render :partial => "note", locals: {track: @track, note: @note, action: "create"} %>
<br>
<%= edit_link @track.class.name.downcase %>
<br>
<%= destroy_button @track if @user.admin %>